@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Roboto+Mono:wght@600;700&family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Yeon+Sung&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #09090A;
    color: white;

   /* display: grid;
    place-items: center;
*/
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 48px;
    position: fixed;
    background-color: #09090A;
    width: 100%;
}

button{
    background-color: transparent;
    color: white;
    padding: 16px 24px;
    border-radius: 8px;
    border: 1px solid #8B5CF6;
    
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;

    display: flex;
    align-items: center;
    gap: 12px;
}
#form-habits{
    display: flex;

    padding: 182px 48px 48px;
    width: fit-content;
}
.habits{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 60px;
}

.habit{
    width: 64px;
    height: 64px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.days{
    display: flex;
    gap: 48px;
    margin-left: 32px;
}

.day{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.day div{
    margin-bottom: 8px;

    font-family: 'Roboto Mono';
    font-size: 20px;
    line-height: 125%;
    color: #A1A1AA;
    text-align: center;

}

input{
    appearance: none;
    -webkit-appearance: none;

    width: 64px;
    height: 64px;

    border: 2px solid #27272A;
    border-radius: 8px;

    background: #181818;
}
/*-- pseudo-selector --*/

input:checked{
    background: #8B5CF6;

    border: 2px solid #A78BFA;
}

@media (max-width: 570px){
    button div{
        display: none;
    }
}